@use "@/styles/my" as my;

.draggable-container{
  width: 100%;
  height: 100%;
}

.draggable-box{
  flex-direction: column;
  background-color: var(--el-bg-color);
  border-right: 1px solid var(--el-color-primary);
  @include my.w-h(50%, 100%)
}
.Json-container{
  padding: 20px;
  background-color: var(--el-bg-color);
  @include my.w-h(50%, 100%);
  flex-direction: column;
}

.draggable-item{
  @include my.w-h(500px, 50px);
  @include my.d-flex($jc:start);
  padding-left: 20px;
  color: white;
  margin-top: 20px;
  background-color: var(--el-color-primary);
  &:hover{
    cursor: move;
  }
}

.drag-item-ghost{
  border-top: 3px dashed var(--el-color-danger);
  background-color: var(--el-color-success);
}
.Json-box{
  padding: 40px;
  border-radius: 10px;
  background-color: var(--el-bg-color-page);
}