/* theme-overrides.scss */
//修改el-color-primary等变量值
:root {
    --el-color-primary: #006be6;
    --el-color-success: #57d188;
    --el-color-warning: #efbd48;
    --el-color-danger: #ff3860;
    --el-color-info: #909399;
}

.gray {
    filter: grayscale(100%);
}
.invert {
    filter: invert(100%);
}

::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
    animation-name: reveal-light;
    animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
    z-index: -1;
}
.dark::view-transition-new(root) {
    animation-name: reveal-dark;
    animation-fill-mode: both;
}

@keyframes reveal-dark {
    from {
        clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }
    to {
        clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
}

@keyframes reveal-light {
    from {
        clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }
    to {
        clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
}